
.images{
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .cat-regular{
    width: 202px;
    height: 250px;
    background-image: url('/img/cat.jpg');
  }

  .cat-base{
    width: 175px;
    height: 288px;
    /* relative to the main.scss not this partial */
    background-image: url('../img/cat.jpg');
  }
}